

.title {
  color: #224F61;
  font-family: Almarai;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 64px;
}
.underline {
  height: 3px;
  width: 200px;
  border-radius: 10px;
  background:#181818;
}


.img-item {
  display: block;
  height: auto;
  width: 252px;
  border-radius: 5px;
}

.item-description {
  color: #8C8C8C;
  font-family: Almarai;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}




