
// Title
.header_carte{
  height: 400px;
  width: 100%;
}


.titre_position{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 48px;
  width: 400px;
  letter-spacing: 2px;

}

.cover_dark{
  position: relative;
  height: 400px;
  width: 100%;
  background: #000;
  opacity: 0.5;
}
