
body {
  font-family: var(--font-family);
  color: var(--text);
 
}



h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-family:"montserrat","sans-serif"; 
}


a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}