
.footer-position{
  margin-bottom: 0;
  color: white;
  background: linear-gradient(90deg, rgba(10,10,80,1) 0%, rgba(30,150,150,1) 90%);
  padding: 10px 0;
  }

.footer{
  height: auto;
}

.footer a{
  cursor: pointer;
}

.footer td{
  font-size: 16px;
  
}
