.img-dashboard{
  background: url("../../../images/dashboard.jpg") center center no-repeat;
  background-size:cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

